.sideBarHead { 
    display: flex;
    padding: 1vh;

    box-sizing: border-box;

    background: rgba(250, 250, 250, 0.8);
    backdrop-filter: blur(25px);
    border-radius: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sideBarHeadText {
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 2vh;
    margin-left: 2vw;
    color: #131517;

    background-color: white;
    padding: 1vh;


    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.8vh;

}

.logo {
    height: 5vh;
    margin-left: 1vw;
}

.sideBarBlock {
    box-sizing: border-box;
    margin-top: 1vh;
    background: rgba(250, 250, 250, 0.3);
    backdrop-filter: blur(25px);
    border-radius: 14px;
    border: 0.1vh solid rgba(0, 0, 0, 0.1);
    padding: 2vh;
    width: 18vw;
}

.sideBarBlockHeadText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 110%;
    color: #000000;
    opacity: 0.6; /* Начальная прозрачность */
    transition: opacity 0.3s ease; /* Плавный переход для прозрачности */
    cursor: pointer; /* Указатель мыши */
}

.sideBarBlockHeadText.active {
    opacity: 1; /* Прозрачность при активном состоянии */
}



.sideBarBlockHeadText.expanded {
    margin-bottom: 35vh; /* Margin when expanded */
}

.sideBarBlockText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 110%;
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #000000;
    opacity: 0.4; /* Начальная прозрачность */
    transition: opacity 0.3s ease; /* Плавный переход */
    cursor: pointer; /* Указатель мыши */
}

.sideBarBlockText.active {
    opacity: 1; /* Прозрачность при активном состоянии */
}


.sideBarBlockLowText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 450;
    font-size: 1.4vh;
    line-height: 140%;
    opacity: 0.6;
    color: #000000;
}

/* Блок для Get in touch */
.getInTouchBlock {
    background: black;
    border: 0.1vh solid rgba(255, 140, 0, 0.4); /* Оранжевая рамка */
}

/* Заголовок для Get in touch */
.getInTouchHeadText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600; /* Более жирный шрифт */
    font-size: 2.8vh; /* Увеличенный размер шрифта */
    color: #ffffff; /* Белый цвет текста */
    opacity: 1; /* Без прозрачности */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Легкая тень */
}
