.projects {
    position: relative;
    height: 71vh;
    border-radius: 1vw;
    overflow: hidden;
    margin: 1vh 1vw 0 0.5vw;
    padding: 5vw;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .fade-in {
    animation: fadeIn 0.3s forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.3s forwards;
  }
  
  .textBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .projectText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
    position: relative; /* Ensure text is above the video */
    z-index: 1; /* Make sure text stays above the video */
  }
  
  .projectText.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .headText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 8vh;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;
    height: 10vh;
    margin-left: 3vh;
    position: relative;
    z-index: 1;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
  }
  
  /* Fullscreen video */
  .background-video.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Ensure video is behind the text */
    opacity: 1 !important;
  }
  